html, body, #root {
    height: 100vh;
    background: #000;
}

body {
    margin: 0;
    display: grid;
    place-items: center;
    font-family: 'Roboto', sans-serif;
}

.boxes {
    margin-top: 40px;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(2, minmax(400px, 1fr));
    grid-template-rows: auto;
}

.box {
    display: flex;
    flex-direction: column;
    min-height: 400px;
    max-height: auto;

    h1 {
        font-size: 20px;
        margin: 0 0 1rem 0;
    }

    .content {
        padding-top: 1em;
    }

    ol {
        margin-left: 0;

        li {
            align-items: center;
            display: flex;
            justify-content: flex-start;
        }
    }
}

.button {
    background: #d50000;
    color: #fff;
    margin-right: 1em;
    padding: .25em .75em;
    transition: all .25s ease-in;
    border-radius: 5px;

    &:hover {
        background: #b50000;
        color: #fff;
    }
}